@font-face {
    font-family: "PoppinsMedium";
    src: url(../fonts/Poppins-Medium.otf) format(opentype);
  }
  
  @font-face {
    font-family: "PoppinsRegular";
    src: url(../fonts/Poppins-Regular.otf) format(opentype);
  }

  :root {
    --color-background: #081b29;
    --color-black: #212121;
    --color-full-black: #000000;
    --color-text: #ededed;
    --color-text-out: #032f53;
    --color-primary: #0ef;
    --color-secondary: #990ff5f7;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: aliceblue;
    --color-hover: #0ef;
  
    --fontPadrao: "PoppinsRegular", "Rubik", sans-serif;
    --fontDestaque: "PoppinsMedium";
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--fontPadrao);
    color: var(--color-text);
    background: var(--color-background);
    
}

/* cabeçalho */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* logo */
.logo {
    position: relative;
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

/* barra de navegação */
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar a.active {
    text-decoration: underline var(--color-primary);
}

/* page inicial */
.home { 
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/wallpaperwess.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

/* conteudo home */
.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .6s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h3 span {
    color: var(--color-primary);
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2.5s;
}

/* botões redes sociais */
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--color-primary);
    text-decoration: none;
    transition: .5 ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i)); ;

    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: var(--color-white);
    color: #081b29;
    box-shadow: 0 0 20px var(--color-primary);
    transition: 0.3s;
}

/* botão sobre */
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: var(--color-primary);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 3.2s;
}

.btn-box:hover{
    background: var(--color-white);
    box-shadow: 0 0 5px rgb(247, 253, 253),
    0 0 25px cyan, 0 0 50px cyan;
}

/* page sobre mim */
.about {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: var(--color-primary);
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: var(--color-white);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--color-text);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

/* serviços */
#services {
    color: var(--color-separate);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: var(--color-primary);
}

.container {
    padding: 90px;
}

/* cards */
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* botao saiba mais */
.services-list div a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 13px;
    margin-top: 30px;
    display: inline-block;
}

/* botao saiba mais,  conteudo de dentro */
.read {
    display: inline-block;
    padding: 12px 20px;
    background: var(--color-primary);
    border-radius: 40px;
    font-size: 16px;
    color: var(--color-background);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--color-primary),
    0 0 25px var(--color-primary);
}

.read:hover {
    background: var(--color-white);
    color: #081b29;
    box-shadow: 0 0 20px var(--color-primary);
    transition: 0.2s;
}

.services-list div:hover {
    transform: translateY(-10px);
}


/* sessão skills */

section {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.skills-container {
    width: 600px;
    height: 500px;
    padding: 5px 95px;
    margin-left: 120px;
    margin-bottom: 300px;
}

.skills-title {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 25px;
    margin-bottom: 20px;

}

.tech-bars .bar {
    margin-top: 40px 0;
}

.tech-bars .bar:first-child {
    margin-top: 0;
}

.tech-bars .bar:last-child {
    margin-bottom: 0;
}

.tech-bars .bar .info {
    margin-bottom: 5px;
}

.tech-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.tech-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background: var(--color-full-black);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.tech-bars .bar .progress-line span {
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 85%;
}

.progress-line.css span {
    width: 72%;
}

.progress-line.javascript span {
    width: 65%;
}

.progress-line.python span {
    width: 80%;
}

.progress-line.sql span {
    width: 77%;
}

.progress-line.docker span {
    width: 60%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: var(--color-full-black);
    color: var(--color-white);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "85%";
}

.progress-line.css span::after {
    content: "72%";
}

.progress-line.javascript span::after {
    content: "65%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.sql span::after {
    content: "77%";
}

.progress-line.docker span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--color-full-black);
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

/* sessão das bolas */
.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: var(--color-full-black);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 2s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 5;
    stroke: var(--color-primary);
    fill: var(--color-text-out);
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 { animation: animate-path1 1s 1s linear forwards;}
.path-2 { animation: animate-path2 1s 1s linear forwards;}
.path-3 { animation: animate-path3 1s 1s linear forwards;}
.path-4 { animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 150;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: top;
    text-align: right;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 3s 1s linear forwards;
    opacity: 0;
}






/* animação logo e h3 home */
@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* animação navbar */
@keyframes slideTop {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* animação do resto do texto vindo da esquerda */
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}